<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/zeltaurkis/css/style.css">
  <title>Zelta Urķis</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/zeltaurkis/css/img/logo/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/zeltaurkis/css/img/logo/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/zeltaurkis/css/img/logo/favicon/favicon-16x16.png">
  <link rel="manifest" href="/zeltaurkis/css/img/logo/favicon/site.webmanifest">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap"
    rel="stylesheet">

</head>

<body style="background-color: #000000;">
  <div id="ch-sheet">
    <a href="/zeltaurkis/index.html" id="back-btn" type="button">ATPAKAĻ</a>
    <h1>ŠPIKERIS</h1>
    <h4>Lai labāk izprastu spēles būtību un smeltos idejas saviem jautājumiem, pieskaries atbilstošajai kārtij!</h4>
    <div class="ch-wrapper">

      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">
            <img src="/zeltaurkis/css/img/cards/card-01.svg" alt="ZeltaUrkis">
          </div>
          <div class="card__face card__face--back">
            <ul>
              <li>Kāda ir tava foršākā atmiņa par spēlētāju K.?</li>
              <li>Ko no spēlētāja P. izskata tu gribētu sev?</li>
              <li>Kurš no spēlētājiem būtu vislabākais vecāks? Kāpēc?</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">
            <img src="/zeltaurkis/css/img/cards/card-02.svg" alt="ZeltaUrkis">
          </div>
          <div class="card__face card__face--back">
            <ul>
              <li>Pirmo reizi, kad satiki spēlētāju А., kas tev viņā patika vismazāk?</li>
              <li>Kurš no spēlētājiem ir/varētu būt visrupjākais?</li>
              <li>Kuru no spēlētājiem tu negribētu ņemt līdzi uz vientuļas salas?</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">
            <img src="/zeltaurkis/css/img/cards/card-03.svg" alt="ZeltaUrkis">
          </div>
          <div class="card__face card__face--back">
            <ul>
              <li>Kas ir vissvarīgākā mācība, ko mamma ir tev devusi?</li>
              <li>Mēs visi pazīstam Artūru, kad viņš tev ir visvairāk izpalīdzējis?</li>
              <li>Kādas trīs labas lietas tu varētu teikt par Egilu Levitu?</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">
            <img src="/zeltaurkis/css/img/cards/card-04.svg" alt="ZeltaUrkis">
          </div>
          <div class="card__face card__face--back">
            <ul>
              <li>Kuru aktieri no "Ugunsgrēka" tu noteikti nomainītu, ja būtu režisors?</li>
              <li>Kas ir visriebīgākā lieta, ko brālis/māsa tev ir nodarījis/usi?</li>
              <li>Kurš latviešu influenceris tev vismazāk patīk, un kāpēc?</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">
            <img src="/zeltaurkis/css/img/cards/card-05.svg" alt="ZeltaUrkis">
          </div>
          <div class="card__face card__face--back">
            <ul>
              <li>Kas ir labākais randiņš, kas tev jebkad ir bijis?</li>
              <li>Ko tavs partneris tev ir iemācījis?</li>
              <li>Kādām trīs īpašībām ir jāpiemīt tavam potenciālajam partnerim?</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">
            <img src="/zeltaurkis/css/img/cards/card-06.svg" alt="ZeltaUrkis">
          </div>
          <div class="card__face card__face--back">
            <ul>
              <li>Vai tevi kādreiz ir sāpinājusi tava simpātija? Kā?</li>
              <li>Kas tavam partnerim nepadodas?</li>
              <li>Kādas kļūdas tavs partneris pieļauj sadzīvē?</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">
            <img src="/zeltaurkis/css/img/cards/card-07.svg" alt="ZeltaUrkis">
          </div>
          <div class="card__face card__face--back">
            <ul>
              <li>Ar ko tu lepojies?</li>
              <li>Kas, tavuprāt, ir tava vislabākā rakstura iezīme?</li>
              <li>Kas ir tā lieta, kas tev padodas labāk nekā citiem?</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">
            <img src="/zeltaurkis/css/img/cards/card-08.svg" alt="ZeltaUrkis">
          </div>
          <div class="card__face card__face--back">
            <ul>
              <li>Kas ir pati neveiklākā situācija, ko esi piedzīvojis?</li>
              <li>Kas, tavuprāt, ir visneglaimojošākais tavā izskatā?</li>
              <li>Kāds ir tavs vissliktākais ieradums?</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">
            <img src="/zeltaurkis/css/img/cards/card-09.svg" alt="ZeltaUrkis">
          </div>
          <div class="card__face card__face--back">
            <ul>
              <li>Kad pirmo reizi tevi satiku, tu man šķiti nedaudz kaitinošs/a.</li>
              <li>Manuprāt, tev galīgi nepiestāv tās kantainās brilles.</li>
              <li>Tu gan jau neatceries to ballīti 23. jūnijā, bet tevi bija ļoti grūti savaldīt.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">
            <img src="/zeltaurkis/css/img/cards/card-10.svg" alt="ZeltaUrkis">
          </div>
          <div class="card__face card__face--back">
            <ul>
              <li>Man ļoti patīk kā tu šodien izskaties!</li>
              <li>Tu esi ļoti gādīgs un atsaucīgs – īsts draugs</li>
              <li>Tā dāvana, ko tu man uzdāvināji dzimšanas dienā pirms diviem gadiem ir vislabākā, kādu esmu jebkad
                saņēmis.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">
            <img src="/zeltaurkis/css/img/cards/card-11.svg" alt="ZeltaUrkis">
          </div>
          <div class="card__face card__face--back">
            <ul>
              <li>Kura, tavuprāt, ir skaistākā vieta Latvijā?</li>
              <li>Ko tu personīgi dari, lai mazinātu piesārņojumu?</li>
              <li>Kas ir tavs mīļākais dzīvnieks?</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">
            <img src="/zeltaurkis/css/img/cards/card-12.svg" alt="ZeltaUrkis">
          </div>
          <div class="card__face card__face--back">
            <ul>
              <li>Kāda bija smieklīgākā situācija, kas ar tevi notikusi darbā?</li>
              <li>Vai tev ir bijis riebīgs priekšnieks?</li>
              <li>Kas ir tava pirmā darba pieredze?</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">
            <img src="/zeltaurkis/css/img/cards/card-13.svg" alt="ZeltaUrkis">
          </div>
          <div class="card__face card__face--back">
            <ul>
              <li>Ja tev būtu jānodarbojas ar vienu sporta veidu visu mūžu, kas tas būtu?</li>
              <li>Kuru sporta veidu tu varētu skatīties televizorā mūžīgi?</li>
              <li>Kas ir pirmais sporta veids, ar kuru tu esi nodarbojies?</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">
            <img src="/zeltaurkis/css/img/cards/card-14.svg" alt="ZeltaUrkis">
          </div>
          <div class="card__face card__face--back">
            <ul>
              <li>Kurš ir tavs mīļākais ēdiens?</li>
              <li>Kurš ēdiens tev riebjas?</li>
              <li>Kas tev agrāk negaršoja, bet tagad garšo?</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">
            <img src="/zeltaurkis/css/img/cards/card-15.svg" alt="ZeltaUrkis">
          </div>
          <div class="card__face card__face--back">
            <ul>
              <li>Ar ko tevi bērnībā varēja sabaidīt?</li>
              <li>Vai tev ir kādas īpašas bailes, kas citiem nav?</li>
              <li>Kas ir visbailīgākā situācija, ko esi piedzīvojis/usi?</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">
            <img src="/zeltaurkis/css/img/cards/card-16.svg" alt="ZeltaUrkis">
          </div>
          <div class="card__face card__face--back">
            <ul>
              <li>Kādam trendam, tavuprāt, būtu jānāk atpakaļ modē?</li>
              <li>Vai ir kāds apģērba gabals, no kura nevari šķirties gadiem?</li>
              <li>Kāda ir tava iecienītākā apģērba krāsa?</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">
            <img src="/zeltaurkis/css/img/cards/card-17.svg" alt="ZeltaUrkis">
          </div>
          <div class="card__face card__face--back">
            <ul>
              <li>Kura ir tava mīļākā filma?</li>
              <li>Vai tu esi uzzīmējis/usi kaut ko, ar ko tu lepojies?</li>
              <li>Kurš mūzikas žanrs tev visvairāk nepatīk?</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">
            <img src="/zeltaurkis/css/img/cards/card-18.svg" alt="ZeltaUrkis">
          </div>
          <div class="card__face card__face--back">
            <ul>
              <li>Kas, tavuprāt, ir jāmaina Latvijas politiskajā sistēmā?</li>
              <li>Kāds jauns likums Latvijā jāievieš?</li>
              <li>Ja tu pārvaldītu valsti, kādā režīmā tu to darītu?</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">
            <img src="/zeltaurkis/css/img/cards/card-19.svg" alt="ZeltaUrkis">
          </div>
          <div class="card__face card__face--back">
            <ul>
              <li>Kura reliģiskā celtne tev šķiet visiespaidīgākā?</li>
              <li>Vai tu esi ticīgs?</li>
              <li>Kas ir bijusi tava lielākā reliģiskā atklāsme?</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">
            <img src="/zeltaurkis/css/img/cards/card-20.svg" alt="ZeltaUrkis">
          </div>
          <div class="card__face card__face--back">
            <ul>
              <li>Ko tu sevi iztēlojies darām pēc 10 gadiem?</li>
              <li>No kura nākotnes scenārija tev ir visvairāk bail?</li>
              <li>Kam jānotiek, lai tu būtu vislaimīgākais/ā?</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">
            <img src="/zeltaurkis/css/img/cards/card-21.svg" alt="ZeltaUrkis">
          </div>
          <div class="card__face card__face--back">
            <ul>
              <li>Kurš eksaktais priekšmets tev padodas vismazāk?</li>
              <li>Kā, tavuprāt, zinātne attīstīsies tuvāko 10 gadu laikā?</li>
              <li>Kas tevi fascinē zinātnē?</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">
            <img src="/zeltaurkis/css/img/cards/card-22.svg" alt="ZeltaUrkis">
          </div>
          <div class="card__face card__face--back">
            <ul>
              <li>Kas, tavuprāt, ir vislabākais izgudrojums?</li>
              <li>Bez kuras viedierīces, kas tev ir, tu varētu iztikt?</li>
              <li>Kurš no sociālajiem tīkliem tev traucē visvairāk?</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">
            <img src="/zeltaurkis/css/img/cards/card-23.svg" alt="ZeltaUrkis">
          </div>
          <div class="card__face card__face--back">
            <ul>
              <li>Vai tev pamatskolā bija mīļākā skolotāja?</li>
              <li>Ko tu gribētu studēt universitātē?</li>
              <li>Ko tu mainītu Latvijas izglītības sistēmā?</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">
            <img src="/zeltaurkis/css/img/cards/card-24.svg" alt="ZeltaUrkis">
          </div>
          <div class="card__face card__face--back">
            <ul>
              <li>Kā tev vislabāk patīk atpūsties?</li>
              <li>Kas ir ekstrēmākais, ko esi izdarījis atvaļinājumā?</li>
              <li>Kāds ir tavs sapņu ceļojums?</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">
            <img src="/zeltaurkis/css/img/cards/card-25.svg" alt="ZeltaUrkis">
          </div>
          <div class="card__face card__face--back">
            <ul>
              <li>Kāpēc tu toreiz tā izdarīji?</li>
              <li>Vai es tev patīku?</li>
              <li>Ko tu slēp no citiem?</li>
            </ul>
          </div>
        </div>
      </div>


    </div>

  </div>
  <script src="/zeltaurkis/js/cards.js"></script>
</body>

</html>