<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/zeltaurkis/css/style.css">
  <title>Zelta Urķis</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/zeltaurkis/css/img/logo/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/zeltaurkis/css/img/logo/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/zeltaurkis/css/img/logo/favicon/favicon-16x16.png">
  <link rel="manifest" href="/zeltaurkis/css/img/logo/favicon/site.webmanifest">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap"
    rel="stylesheet">

</head>

<body>
  <div id="ch-sheet">
    <a href="/zeltaurkis/index.html" id="back-btn" type="button">ATPAKAĻ</a>
    <h2>ŠPIKERIS</h2>
    <h4>Lai labāk izprastu spēles būtību un smeltos idejas saviem jautājumiem, pieskaries atbilstošajai kārtij!</h4>
    <div class="ch-wrapper">

      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">
            <img src="/zeltaurkis/css/img/cards/card-01.svg" alt="ZeltaUrkis">
          </div>
          <div class="card__face card__face--back">
            <ul>
              <li>Kāda ir tava foršākā atmiņa par spēlētāju K.?</li>
              <li>Ko no spēlētāja P. izskata tu gribētu sev?</li>
              <li>Kurš no spēlētājiem būtu vislabākais vecāks? Kāpēc?</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">
            <img src="/zeltaurkis/css/img/cards/card-02.svg" alt="ZeltaUrkis">
          </div>
          <div class="card__face card__face--back">
            <ul>
              <li>Kāda ir tava foršākā atmiņa par spēlētāju K.?</li>
              <li>Ko no spēlētāja P. izskata tu gribētu sev?</li>
              <li>Kurš no spēlētājiem būtu vislabākais vecāks? Kāpēc?</li>
            </ul>
          </div>
        </div>
      </div>


    </div>

  </div>
  <script src="/zeltaurkis/js/cards.js"></script>
</body>

</html>