<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/ZeltaUrkis/css/style.css">
  <title>Pasūtīt Zelta Urķi</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/ZeltaUrkis/css/img/logo/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/ZeltaUrkis/css/img/logo/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/ZeltaUrkis/css/img/logo/favicon/favicon-16x16.png">
  <link rel="manifest" href="/ZeltaUrkis/css/img/logo/favicon/site.webmanifest">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap"
    rel="stylesheet">
  <!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->
</head>

<body style="background-color: #000000;">
  <div id="ch-sheet">
    <a href="/ZeltaUrkis/index.html" id="back-btn" type="button">ATPAKAĻ</a>
    <h1>Pasūtīt Zelta Urķi</h1>
    <h4>Lai pasūtītu, aizpildi formu!</h4>
    <div class="ch-wrapper">
      <form method="POST" id="order-form" action="sendmail.php" novalidate><label>
          Vārds: <input name="name">
        </label>
        <div class="error-msg name" name="error-msg name"></div>
        <label>
          E-pasts: <input type="email" name="email">
        </label>
        <div class="error-msg email" name="error-msg email"></div>
        <label>
          Tālrunis: <input type="tel" name="phone">
        </label>
        <div class="error-msg phone" name="error-msg phone"></div>
        <label>
          Piezīmes: <input type="text" name="note">
        </label> <br>



        <div class="g-recaptcha" data-sitekey="6LcdZUAaAAAAAF8x3HcSANbvogBEA4KTiAxrJLNh" data-callback="verifyCaptcha">
        </div>

        <div class="error-msg g-recaptcha" name="error-msg g-recaptcha"></div>





        <br>
        <input name="order-game" id="order-game-btn" class="button" type="button" value="NOSŪTĪT">

      </form>
      <script src='https://www.google.com/recaptcha/api.js'></script>
    </div>




  </div>


  <script src="/ZeltaUrkis/js/form-lv.js"></script>
</body>

</html>